$black: #222222;
$pink: #F16D7F;
$promo_text: #FFFFFF;
$header: #F1E4E6;

$goods_text: #9F9F9F;
$card_title: #000000;
$card_text: #5D5D5D;
$card_bgc: #F8F8F8;

$footer_card_text: #FBFBFB;
$footer_maincolor: #222224;
