.section-goods {
    &-wrapper {
        display: flex;
        &-cards {
            display: flex;
            flex-direction: column;
            gap: 40px;
            .goods-card {
                display: flex;
                width: 652px;
                height: 306px;
                position: relative;
                box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13), 0 4px 4px rgba(0, 0, 0, 0.25);

                &__img {
                    flex-basis: 262px;
                }
                &-text {
                    width: 262px;
                    padding: 22px 31px;
                    h2 {
                        font-size: 24px;
                        line-height: 29px;
                        color: $black;
                        margin-bottom: 42px;
                    }
                    h3 {
                        font-size: 22px;
                        line-height: 26px;
                        color: #575757;
                        span {
                            color: $pink;
                        }
                        margin-bottom: 6px;
                    }
                    h4 {
                        font-size: 22px;
                        line-height: 26px;
                        color: #575757;
                        input {
                            margin-left: 24px;
                            text-align: center;
                            width: 44px;
                            font-size: 18px;
                            line-height: 22px;
                            color: #656565;
                            padding: 2px;
                            border: 1px solid #eaeaea;
                        }
                    }
                }
                .cross {
                    position: absolute;
                    top: 28px;
                    right: 22px;
                }
            }
            .buttons {
                display: flex;
                justify-content: space-between;
                margin-top: 72px;
                margin-bottom: 128px;

                button {
                    padding: 17px 40px;
                    background-color: #ffffff;
                    a {
                        text-decoration: none;
                        font-weight: 300;
                        font-size: 14px;
                        line-height: 17px;
                        color: #000000;
                    }
                }
            }
        }

        &-forms {
            display: flex;
            flex-direction: column;
            margin-left: 128px;
            .shipping {
                padding-top: 10px;
                margin-bottom: 57px;
                h3 {
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 19px;
                    color: $black;
                    margin-bottom: 20px;
                }
                input {
                    padding: 14px 0 14px 17px;
                    margin-bottom: 20px;
                    display: block;
                    border: 1px solid #a4a4a4;
                    font-weight: 300;
                    font-size: 13px;
                    line-height: 16px;
                    width: 343px;
                }
                button {
                    padding: 12px 15px;
                    background-color: white;
                    border: 1px solid #a4a4a4;
                    a {
                        text-decoration: none;
                        font-weight: 300;
                        font-size: 11px;
                        line-height: 13px;
                        color: #4a4a4a;
                    }
                }
            }

            .checkout {
                width: 360px;
                height: 214px;
                background-color: #f5f3f3;
                text-align: center;
                h2 {
                    font-size: 11px;
                    line-height: 13px;
                    color: #4a4a4a;
                    text-align: right;
                    padding: 39px 34px 12px 0px;
                    span {
                        margin-left: 24px;
                    }
                }
                h3 {
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 19px;
                    color: #222222;
                    text-align: right;
                    padding-right: 34px;
                    padding-bottom: 21px;
                    span {
                        color: $pink;
                        margin-left: 24px;
                    }
                }
                hr {
                    width: 275px;
                    color: #e2e2e2;
                    margin-bottom: 17px;
                }
                button {
                    background-color: $pink;
                    border: none;
                    padding: 15px 41px;
                    a {
                        text-decoration: none;
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 19px;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}
