.section-header {
    background-color: $newarrival_bgc;
    &-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 60px 0 60px 0;
        @include media("<=tablet") {
            padding: 60px 16px 60px 16px;
        }
        @include media("<=phone") {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 24px 0 46px 0;
        }

        
        h1 {
            font-size: 24px;
            line-height: 29px;
            color: $pink;
            @include media("<=phone") {
                margin-bottom: 32px;
            }
                        
        }
        h2 {
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            a {
                text-decoration: none;
                color: black;
                &:hover {
                    color: $pink;
                }
            }
        }
        span {
            color: $pink;
        }
    }
}