.section-navbar {
    background-color: $black;
    &-wrapper {
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 18px 0 18px 0;
            @include media('<=tablet') {
                padding-left: 32px;
                padding-right: 32px;
            }
            &-logosearch{
                display: flex;
                align-items: center;
                &__logo{
                    margin-right: 41px;
                }
                &__search{

                }
            }
            &-menu {
                display: flex;
                list-style-type: none;
                align-items: center;
                &__burger {
                    margin-right: 33px;

                }
                &__profile {
                    margin-right: 33px;
                }
                &__cart {

                }
            }
        }
    }
}