.section-pagination {
    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        .pagination {
            text-align: center;
            border: 1px solid #ebebeb;
            margin-top: 48px;
            display: inline-block;
            padding: 15px;

            a {
                text-decoration: none;
                color: #c4c4c4;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                padding-right: 24px;
                padding-left: 24px;
            }
            span {
                color: #c4c4c4;
            }
        }
    }
}
