.section-promo {
    margin-bottom: 96px;

    &-wrapper {
        @include media("<=tablet") {
            margin-left: 16px !important;
            margin-right: 16px !important;
        }
        .promo-card {
            position: relative;
            &-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;

                h4 {
                    font-size: 16px;
                    line-height: 19px;
                    color: $promo-text;
                }

                h3 {
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 29px;
                    color: $pink;
                }
            }
        }

        img {
            width: 100%;
            height: auto;
        }

        &-narrow {
            display: flex;
            gap: 30px;
            margin-bottom: 30px;
            &:hover {
                transform: scale(1.02);
                transition: 0.3s;
            }
            @include media("<=phone") {
                flex-direction: column-reverse;
            }
        }
        .promo-card-wide {
            &:hover {
                transform: scale(1.02);
                transition: 0.3s;
            }
        }
    }
}
