@import "./reset";
@import "./colors";
@import "./navbar";
@import "./header";
@import "./promo";


body {
    font-family: Lato;
}

.section-navbar-wrapper, .section-promo-wrapper {
    max-width: 1140px;
    margin: 0 auto;
}