@import "./reset";
@import "./colors";
@import "./navbar";
@import "./header_cart";
@import "./goods_cart";

body {
    font-family: Lato;
}

.section-navbar-wrapper, .section-header-wrapper, .section-goods-wrapper, .section-subscribe-wrapper, .footer-wrapper {
    max-width: 1140px;
    margin: 0 auto;
}
