@import "./reset";
@import "./colors";
@import "./breakpoints";
@import "./navbar";
@import "./header";
@import "./promo";
@import "./goods";
@import "./advantages";
@import "./subscribe";
@import "./footer";

body {
    font-family: Lato;
}

.section-navbar-wrapper, .section-promo-wrapper, .section-goods-cards-wrapper, .section-advantages-wrapper, .section-subscribe-wrapper, .footer-wrapper {
    max-width: 1140px;
    margin: 0 auto;
}
